.card {
  position: relative;
  width: 320px;
  height: 350px;
  background-color: rgba(45, 45, 45, 1);
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  padding: 20px;
}

.card .text{
  display: flex;
  flex-direction: column;
  gap: 3dvh;
}

.card .icon{
  z-index: 10;
  position: relative;
  font-size: 7em;
  color: #2cc832;
  text-shadow: #111 0px 0px 5px, 
             #111 0px 0px 10px, 
             #111 0px 0px 15px, 
             #111 0px 0px 20px, 
             #111 0px 0px 30px, 
             #111 0px 0px 40px, 
             #111 0px 0px 50px, 
             #111 0px 0px 75px; 
}

.card h1 {
  z-index: 10;
  font-size: 1.7em;
  position: relative;
  text-shadow: #111 0px 0px 5px, 
             #111 0px 0px 10px, 
             #111 0px 0px 15px, 
             #111 0px 0px 20px, 
             #111 0px 0px 30px, 
             #111 0px 0px 40px, 
             #111 0px 0px 50px, 
             #111 0px 0px 75px; 
}

.card span {
  z-index: 10;
  font-size: 1em;
  position: relative;
  font-family: var(--text-font);
  text-shadow: #111 0px 0px 5px, 
             #111 0px 0px 10px, 
             #111 0px 0px 15px, 
             #111 0px 0px 20px, 
             #111 0px 0px 30px, 
             #111 0px 0px 40px, 
             #111 0px 0px 50px, 
             #111 0px 0px 75px;  
}

.card::before{
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 700px;
  height: 700px;
  opacity: 0;
  transition: .5s, top 0s, left 0s;
  z-index: 1;
}

.card:hover::before{
  opacity: 1;
}

.card::after{
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background-color: rgba(45, 45, 45, 0.75);
  z-index: 1;
}

