.StackChip {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 28px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  border: 2px solid #4ade80;
  box-shadow: 
    0 0 5px #4ade80,
    0 0 15px rgba(74, 222, 128, 0.4);
  transition: 0.2s;
  cursor: pointer;
}

.StackChip:hover {
  transform: scale(1.05);
  box-shadow: 
    0 0 10px #4ade80, 
    0 0 25px rgba(74, 222, 128, 0.6);
}

.StackChip svg{
  font-size: 2.5rem;
}

.StackChip .text {
  color: var(--text-color);
  font-family: var(--code);
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.StackChip svg {
  filter: drop-shadow(0 0 2px currentColor);
}