.Hero{
  inset: 0;
  background-color: var(--background);
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size:
    60px 60px,
    60px 60px;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Hero::before {
  content: '';
  position: absolute;
  width: 1000px;
  height: 100dvh;
  background: radial-gradient(circle, #00ff6426 0%, transparent 70%);
  z-index: 0;
  pointer-events: none;
}

.top{
  text-align: center;
  justify-items: center;
}

.bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bottom button{
  border-radius: 7px;
  color: var(--text-color);
  font-size: 1.1em;
  padding: 7px 50px;
  cursor: pointer;
  transition: .5s;

  &:nth-child(1) {
    background: var(--green-button);  
    border: solid 1.5px var(--green-button-border);

    &:hover{
      box-shadow: 0 0 25px var(--green-button-border);
      transform: scale(1.025);
    }
  }

  &:nth-child(2) {
    background: var(--dark-button);  
    border: solid 1.5px var(--dark-button-border);

    &:hover{
      box-shadow: 0 0 25px var(--dark-button-border);
      transform: scale(1.025);
    }
  }
}

.Hero .content{
  display: flex;
  flex-direction: column;
  gap: 7dvw;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 878px) {
  .Hero{
    padding: 1em;
  }

  .bottom button{
    padding: 6px 20px;
    margin: 0 2dvw;
  }
  .Hero .content{
    gap: 10dvw;
  }
}

